* {
  margin: 0;
  padding: 0;
    text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul li:hover .effecth {
  transform: rotate(-180deg);
  transition: all 0.3s;
}

.text1:hover .disnone {
  display: block;
}
.disnone {
  display: none;
}

.text2:hover .disnone {
  display: block;
}
.user:hover .disnone {
  display: block;
}

.reshide {
  display: flex;
  overflow: hidden;
  }
  
  .nonres {
    display: none;
  }
  
  .sidebar {
    width: 170px;
    left: -170px;
    transition: all 0.3s;
  }
  
  .text4:hover .sidebar {
    left: 0px;
  }
  
  .text5:hover .sidebar2 {
    display: block;
}

.sidebar2 {
  width: 170px;
  right: 0px;
  display: none;
  transition: all 0.3s;
}

@media screen and (max-width: 1000px) {
  .reshide {
    display: none;
  }
.nonres {
  display: flex;
  overflow: hidden;
}
}
.contentSidebar {
  position: absolute;
    left: -230px;
    transition: all 0.3s;
    width: 250px !important;
    }
  .contentSidebar:hover {
    left: 0px;
}

.widthbody {
  width: 100%;
}
/* **************************nav****************** */
.sideDec {
  width: 300px;
  height: 89.8vh;
}

.body {
  height: 89.8vh;
}

.addForm {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.footerBox {
  width: 300px;
}

.linksbox {
  width: 300px;
}
.footerCopy {
  background-color: rgb(27, 26, 26);
}
.addmain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
/* page1  */

.body2 {

  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.para2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.box2 {
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 0px 15px 4px black;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background: linear-gradient(to bottom, rgb(61, 240, 91) 50%, rgb(51, 48, 48) 50%); */
  overflow: hidden;
  /* background-color: rgb(23, 22, 22); */
  width: 300px;
  height: 150px;
  transition: all 0.3s;
}

.box2:hover {
  transform: scale(1.1);
}


@media (min-width:450px) {
  .box2 {
    display: block;
    width: 300px;
    height: 150px;
    font-size: 1.1rem;
    margin: 1rem 4rem 1rem 3rem;
  }
    .widthbody {
      width: 75%;
    }
  .container2 {
    width: 70%;
  }
        .myNotesWidth {
          width: 700px;
        }
  .sub2 {
    padding: 1rem;
  }
.xhide h1 {
  display: none;
}
}

@media (max-width:450px) {
  .box2 {
    display: block;
  }
    .myNotesWidth {
      width: 300px;
    }
.xhide h1 {
  display: block;
  width: 200px;
  transition: all 0.6s;
  margin-top: 2px;
}

.xhide {
  left: -200px;
}

.contentSidebar {
  padding-top: 30px;
}

.contentSidebar:hover~.xhide {
  transition: all 0.6s;
  left: 0px;
}
}

/* page 2 */

.img1 {
  position: relative;
  align-items: center;
  text-align: center;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.itemnote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ********************************************* news ********************************* */
.news-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px hsla(0, 1%, 34%, 0.5);
  border-radius: 10px;
}

#news-title {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: left;
  margin-top: 1rem;
}

.img-left img {
  padding-right: 1rem;
  width: 40vw;
  border-radius: 10px 0 0 10px;
}

.news-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.news-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.news-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.news-content a {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: hsl(216, 100%, 50%);
}

@media screen and (max-width: 768px) {
  .news-section {
    flex-direction: column;
    width: 90vw;
  }
        
  .img-left img {
    width: 100%;
    border-radius: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    object-fit: cover;
  }
}
/* *************register/signup******************** */
.bodyregister {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../public/bg.png');
  background-size: cover;
}

/* align items center vertically and horizontally  */
.container6 {
  display: flex;
  justify-content: center;
  align-items: center !important;
  height: 90vh;
}
.editcontainer {
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center !important;
  height: 100%;
}


.form6 {
  width: 350px;
  min-height: 450px;
  background-color: rgba(41, 39, 39, 0.5);
  box-shadow: 0 20px 30px black;
  }
  
  .editform {
    width: 350px;
    transition: all 0.3s;
    border: 20px;
    height: fit-content;
  box-shadow: 0 20px 30px black;
}
.navButton div {
  background-color: #000;
  margin: 5px;
  width: 80%;
  cursor: pointer;
}
.navButton h1 {
  width: 100px
}

.btn6 button {
  padding: 3px;
  margin: 10px 0px 30px 30px;
  border-style: none;
  background-color: transparent;
  color: beige;
  font-size: 18px;
  font-weight: 550;
}

.formGroup6 {
  display: flex;
  justify-content: center;
}

.formGroup6 input {
  border: none;
  width: 80%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 64px;
  margin-top: -34px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

#subject,
#year {
  border: none;
  width: 60%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: -34px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

option {
  background-color: white;
  color: rgb(0, 0, 0);
}
input:focus {
  outline: none !important;
  border-bottom: 2px solid rgb(91, 243, 131);
  font-size: 17px;
  font-weight: bold;
  color: gray;
}


::placeholder {
  color: white;
}

.checkBox6 {
  display: flex;
  justify-content: center;
  margin: 16px !important;
}

#checkbox6 {
  margin-right: 10px;
}

.text6 {
  color: rgb(199, 197, 197);
  font-size: 13px;
}

.btn26 {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(10, 136, 43);
  border-style: none;
  color: white;
  font-weight: 600;
}

.btn26:hover {
  background-color: rgba(10, 136, 43, 0.5);
}

.btn6 button:hover {
  border-bottom: 2px solid rgb(91, 243, 131);
}

/* Login form code */
.login6 {
  margin-top: 40px;
}

.login6 .checkBox6 {
  margin-top: 30px !important;
}
/* ********************************************************************* */

.body3 {
  background-color: #f3f3f3;
}

.wrapper3 {
  width: 100%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.wrapper3 .left3 {
  width: 35%;
  height: 100vh;
  padding: 30px 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper3 .left3 img {
  border-radius: 5px;
  margin-bottom: 10px;
  height: 30vh;
  width: 15vw;
}

.wrapper3 .left3 h4 {
  margin-bottom: 10px;
}

.wrapper3 .left3 p {
  font-size: 12px;
}

.wrapper3 .right3 {
  width: 65%;
  height: 100vh;
  padding: 30px 25px;
}

.wrapper3 .right3 .info {
  top: 1rem;
  position: relative;
  margin-bottom: 2px;
}

.wrapper3 .right3 .projects3 {
  top: 1rem;
  position: relative;
  margin-bottom: 2px;
}

.wrapper3 .right3 .info3 h3,
.wrapper3 .right3 .projects3 h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper3 .right3 .info_data3,
.wrapper3 .right3 .projects_data3 {
  display: flex;
  justify-content: space-between;
}

.wrapper3 .right3 .info_data3 .data3,
.wrapper3 .right3 .projects_data3 .data3 {
  width: 45%;
}

.wrapper3 .right3 .info_data3 .data3 h4,
.wrapper3 .right3 .projects_data3 .data3 h4 {
  margin-bottom: 5px;
}

.wrapper3 .right3 .info_data3 .data3 p,
.wrapper3 .right3 .projects_data3 .data3 p {
  font-size: 13px;
  margin-bottom: 10px;
}

.wrapper3 .social_media3 ul li a {
  display: flex;
  display: block;
  font-size: 18px;
}

.wrapper3 .social_media3 ul li a img {
  display: flex;
  width: fit-content;
  height: 6vh;
}

@media (max-width:450px) {
  .wrapper3 {
    display: grid;
  }

  .wrapper3 .left3 {
    height: 40vh;
    width: 100%;
    /* background: linear-gradient(to bottom, #01dbdf, #07696b); */
  }

  .wrapper3 .right3 {
    height: 60vh;
    width: 100%;
  }

  .wrapper3 .left3 img {
    height: 20vh;
    width: 30vw;
  }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */

.notes8 {
  /* margin-top: 15px; */
  background: white;
  width: 40rem;
  height: 30rem;
  overflow: hidden;
}

#title8 {
  padding: 1rem;
  border: none;
  background: transparent;
  text-decoration: none;
  width: 85%;
  text-align: center;
  font-weight: bold;
}

.container8 {
  justify-content: center;
}

.text8 {
  background-attachment: local;
  background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  padding: 2rem;
  border: none;
  width: -webkit-fill-available;
}
textarea {
  height: 80%;
}

.notes8 input:focus {
  outline: none !important;
  color: black;
}

.notes8 textarea:focus {
  outline: none !important;
}

#button8 {
  background: rgb(19, 102, 102);
  border: none;
  padding: 0.5rem;
  /* margin-bottom: 5vh; */
  border-radius: 12px;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  width: fit-content;
}

#button8:hover {
  background: #fff;
  color: rgb(19, 102, 102);
}

#button8:active {
  transform: scale(1.1);
}

@media (max-width:780px) {
  .notes8 {
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
  }

  #title8 {
    width: 72%;
  }
}
/* =============================================================== */
.container9 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar9 {
  height: 10vh;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background-color 0.3s;
}

.navbar9 .btn9 {
  background: transparent;
}

.logo {
  flex: 1;
}

.logo img {
  width: 3rem;
}

.options9 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.options9 .btn {
  margin-left: 1.5rem;
}

.header9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 2rem;
  flex-wrap: wrap;
}

.content9 {
  width: 50%;
  max-width: 600px;
  text-align: justify;
  order: 2;
}

.illu {
  width: 50%;
  order: 1;
}

.options9 .links a {
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s;
}

.options9 .links a:hover {
  color: pink;
}


.heading9 h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  transition: color 0.3s;
}

.heading9 h1:hover {
  color: #e66fa0;
}

.para9 {
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: color 0.3s;
}

.para9:hover {
  color: #e66fa0;
}

.btn9 .link {
  border: none;
  color: #fff;
  border: solid 2px hsl(309, 81%, 71%);
  color: #000;
  background: transparent;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s;
}

.link:hover {
  background: hsl(309, 81%, 71%);
  color: #fff;
}


.illu img {
  width: 100%;
}

.body9 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 768px) {
  .navbar9 {
    padding: 0 1rem;
  }

  .logo img {
    width: 2rem;
  }

  .options9 .links a {
    font-size: 1rem;
  }

  .header9 {
    padding: 0 1rem;
  }

  .heading9 h1 {
    font-size: 2rem;
  }

  .para9 {
    font-size: 1.2rem;
  }

  .btn9 input {
    font-size: 0.8rem;
  }

  .content9 {
    margin-top: 2.5rem;
    width: 100%;
    order: 1;
    margin-bottom: 2rem;
  }

  .illu {
    width: 100%;
    order: 2;
  }
}

@media screen and (max-width: 516px) {
  .navbar9 {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navbar9.scrolled9 {
    background-color: pink
  }

  .logo {
    margin-bottom: 1rem;
  }

  .content9 {
    margin-top: 10rem;
    width: 100%;
    order: 1;
    margin-bottom: 2rem;
  }

  .options9 {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .options9 .links a {
    display: block;
    margin-bottom: 0.5rem;
  }

  .btn9 {
    margin-left: 0;
  }
}
/* ============================About=========================== */

.banner9 {
  display: flex;
  padding: 50px;
  justify-content: center;
  gap: 90px;
}

/* .head9{
  font-size: 5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(30, 221, 235);
  text-shadow: 4px 4px #def0ee;
} */

.body99 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.left99 {
  width: 25%;
  align-items: center;

}

.nav99 {
  padding: 20px;
  justify-content: left;
  background-size: cover;
  position: fixed;
  height: 25vh;
}

.nav-abt9 {
  color: grey;
}

.about99 {
  width: 75%;
  padding: 20px;
}

.abt {
  padding: 20px;
  justify-content: center;
}

.abt header {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  padding: 20px;
  color: rgb(7, 121, 111);
}

.content99 {
  font-size: 15px;
  line-height: 30px;
  display: flex;
  align-items: center;
    text-align: justify;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img9 {
  justify-content: center;
  height: 300px;
  width: 800px;
}

.img9 img {
  width: 100%;
  height: 100%;
}

.photo {
  width: 100%;
  height: 50%;
}

.photo img {
  border-radius: 80%;
  width: 80%;
  height: 100%;

}

.ananya {
  width: 200px;
  height: 450px;
  margin: 20px;
}

.info9 {
  word-wrap: break-word;
  text-align: center;
  height: 50%;
  width: 100%;
}

.step {
  width: 200px;
  height: 500px;
  margin: 20px;
  justify-content: center;
  text-align: center;

}

.step img {
  /* height: 20%; */
  width: 50%;

}

.img-step {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 350px;
}

.img-step img {
  width: 200px;
  height: 350px;
}

.detail {
  word-wrap: break-word;
  text-align: center;
  height: 35%;
  width: 100%;
  align-items: center;
}

@media (max-width:700px) {
  .left99 {
    display: none;
  }

  .about99 {
    width: 100%;
    padding: 10px;
  }

  .ananya {
    width: 100%;
  }

  .body99 {
    width: 100%;
    padding: 2px;

  }

  .step {
    width: 100%;
  }
}