* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

ul li:hover .effecth {
  transform: rotate(-180deg);
  transition: all 0.3s;
}

.text1:hover .disnone {
  display: block;
}
.disnone {
  display: none;
}

.text2:hover .disnone {
  display: block;
}

.user:hover .disnone {
  display: block;
}

.reshide {
  display: flex;
  overflow: hidden;
  }
  
  .nonres {
    display: none;
  }
  
  .sidebar {
    width: 170px;
    left: -170px;
    transition: all 0.3s;
  }
  
  .text4:hover .sidebar {
    left: 0px;
  }
  
  .text5:hover .sidebar2 {
    display: block;
}

.sidebar2 {
  width: 170px;
  right: 0px;
  display: none;
  transition: all 0.3s;
}

@media screen and (max-width: 1000px) {
  .reshide {
    display: none;
  }
.nonres {
  display: flex;
  overflow: hidden;
}
}
/* **************************nav****************** */
.sideDec {
  width: 250px;
  height: 89.8vh;
}

.body {
  height: 89.8vh;
  background-color: rgb(24, 24, 24);
}

.bgbla {
  background-color: rgb(24, 24, 24);
}
.footerBox {
  width: 300px;
}

.linksbox {
  width: 300px;
}