* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

ul li:hover .effecth {
  transform: rotate(-180deg);
  transition: all 0.3s;
}

.text1:hover .disnone {
  display: block;
}
.disnone {
  display: none;
}

.text2:hover .disnone {
  display: block;
}

.user:hover .disnone {
  display: block;
}

.reshide {
  display: flex;
  overflow: hidden;
  }
  
  .nonres {
    display: none;
  }
  
  .sidebar {
    width: 170px;
    left: -170px;
    transition: all 0.3s;
  }
  
  .text4:hover .sidebar {
    left: 0px;
  }
  
  .text5:hover .sidebar2 {
    display: block;
}

.sidebar2 {
  width: 170px;
  right: 0px;
  display: none;
  transition: all 0.3s;
}

@media screen and (max-width: 1000px) {
  .reshide {
    display: none;
  }
.nonres {
  display: flex;
  overflow: hidden;
}
.contentSidebar {
  display: none;
}
}

.widthbody {
  width: 100%;
}
/* **************************nav****************** */
.sideDec {
  width: 300px;
  height: 89.8vh;
}

.body {
  height: 89.8vh;
  background-color: rgb(24, 24, 24);
}

.bgbla {
  background-color: rgb(24, 24, 24);
}
.addForm {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.footerBox {
  width: 300px;
}

.home {
  background-color: rgb(24, 24, 24);
}
.linksbox {
  width: 300px;
}
.footerCopy {
  background-color: rgb(27, 26, 26);
}
.addmain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
/* page1  */

.body2 {
  background-color: rgb(12, 12, 12);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.para2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #3B3838;
}

.box2 {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background: linear-gradient(to bottom, rgb(61, 240, 91) 50%, rgb(51, 48, 48) 50%); */
  overflow: hidden;
  background-color: rgb(23, 22, 22);
  width: 300px;
  height: 150px;
  transition: all 0.3s;
}

.box2:hover {
  transform: scale(1.1);
}


@media (min-width:450px) {
  .box2 {
    display: block;
    width: 300px;
    height: 150px;
    font-size: 1.1rem;
    margin: 1rem 4rem 1rem 3rem;
  }
    .widthbody {
      width: 75%;
    }
  .container2 {
    width: 70%;
  }
        .myNotesWidth {
          width: 700px;
        }
  .sub2 {
    padding: 1rem;
  }
}

@media (max-width:450px) {
  .box2 {
    display: block;
  }
    .myNotesWidth {
      width: 300px;
    }
}

/* page 2 */

.img1 {
  position: relative;
  align-items: center;
  text-align: center;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.itemnote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ********************************************* news ********************************* */
.news-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60vw;
  background-color: #3B3838;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px hsla(0, 1%, 34%, 0.5);
  border-radius: 10px;
}

#news-title {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: left;
  margin-top: 1rem;
}

.img-left img {
  padding-right: 1rem;
  width: 40vw;
  border-radius: 10px 0 0 10px;
}

.news-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.news-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.news-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.news-content a {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: hsl(216, 100%, 50%);
}

@media screen and (max-width: 768px) {
  .news-section {
    flex-direction: column;
    width: 90vw;
  }

  .img-left img {
    width: 100%;
    border-radius: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    object-fit: cover;
  }
}
/* *************register/signup******************** */
.bodyregister {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../public/signin.jpg');
  background-size: cover;
  /* background-attachment: fixed; */
}

/* align items center vertically and horizontally  */
.container6 {
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center !important;
  height: 100vh;
}

.form6 {
  width: 350px;
  min-height: 450px;
    /* padding-bottom: 10px; */
  background-color: rgba(41, 39, 39, 0.5);
  /* background-color: #00000070; */
  box-shadow: 0 20px 30px black;
}

.btn6 button {
  padding: 3px;
  margin: 30px 0px 40px 30px;
  border-style: none;
  background-color: transparent;
  color: beige;
  font-size: 18px;
  font-weight: 550;
}

.formGroup6 {
  display: flex;
  justify-content: center;
}

.formGroup6 input {
  border: none;
  width: 80%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 64px;
  margin-top: -34px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}
#subject {
  border: none;
  width: 60%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: -34px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

option {
  background-color: white;
  color: rgb(0, 0, 0);
}
input:focus {
  outline: none !important;
  border-bottom: 2px solid rgb(91, 243, 131);
  font-size: 17px;
  font-weight: bold;
  color: white;
}

::placeholder {
  color: white;
}

.checkBox6 {
  display: flex;
  justify-content: center;
  margin: 16px !important;
}

#checkbox6 {
  margin-right: 10px;
}

.text6 {
  color: rgb(199, 197, 197);
  font-size: 13px;
}

.btn26 {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(10, 136, 43);
  border-style: none;
  color: white;
  font-weight: 600;
}

.btn26:hover {
  background-color: rgba(10, 136, 43, 0.5);
}

.btn6 button:hover {
  border-bottom: 2px solid rgb(91, 243, 131);
}

/* Login form code */
.login6 {
  margin-top: 40px;
}

.login6 .checkBox6 {
  margin-top: 30px !important;
}